<%= simple_form_for @checkout, validate: true, html: { id: "checkout" } do |co| %>
  <%= co.input :name, label: t("label.fullname") %>
  <%= co.input :email, label: t("label.email_address") %>
  <%= co.input :phone, label: t("label.phone_number") %>

  <%= co.simple_fields_for :order, validate: true do |o| %>
    <%= o.input :id, label: t("label.order_id"), validate: { presence: true, allow_blank: false } %>
  <% end %>

  <div class="actions">
    <%= co.submit %>
  </div>
<% end %>
